api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":8088"
  websecure:
    address: ":8443"
  metrics:
    address: ":8082"

providers:
  file:
    directory: /etc/traefik/conf
    watch: true

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
