http:
  routers:
    frontend:
      rule: "Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)"
      service: frontend
      priority: 1
      entryPoints:
        - web

    user-service:
      rule: "(Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)) && PathPrefix(`/user-service`)"
      service: user-service
      priority: 10
      entryPoints:
        - web
      middlewares:
        - user-service-strip
        - auth-forward

    svelte-app:
      rule: "(Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)) && PathPrefix(`/svelte`)"
      service: svelte-app
      priority: 10
      entryPoints:
        - web

    auth-service:
      rule: "(Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)) && PathPrefix(`/auth`)"
      service: auth-service
      priority: 10
      entryPoints:
        - web
      middlewares:
        - auth-service-strip

  services:
    frontend:
      loadBalancer:
        servers:
          - url: "http://frontend:8080"

    user-service:
      loadBalancer:
        servers:
          - url: "http://user-service:3000"
    
    svelte-app:
      loadBalancer:
        servers:
          - url: "http://svelte-app:5173"

    auth-service:
      loadBalancer:
        servers:
          - url: "http://auth-service:4000"

  middlewares:
    user-service-strip:
      stripPrefix:
        prefixes:
          - "/user-service"
    auth-service-strip:
      stripPrefix:
        prefixes:
          - "/auth"
    auth-forward:
      forwardAuth:
        address: "http://auth-service:4000/api/verify"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-User-Id"
