http:
  routers:
    frontend:
      rule: "Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)"
      service: frontend-test
      priority: 1
      entryPoints:
        - web

    user-service:
      rule: "(Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)) && PathPrefix(`/user-service`)"
      service: user-service
      priority: 10
      entryPoints:
        - web
      middlewares:
        - user-service-strip

    svelte-app:
      rule: "(Host(`{{ env "DOMAIN" }}`) || Host(`www.{{ env "DOMAIN" }}`) || Host(`localhost`)) && PathPrefix(`/svelte`)"
      service: svelte-app
      priority: 10
      entryPoints:
        - web

  services:
    frontend-test:
      loadBalancer:
        servers:
          - url: "http://frontend-test:8080"

    user-service:
      loadBalancer:
        servers:
          - url: "http://user-service:3000"

    svelte-app:
      loadBalancer:
        servers:
          - url: "http://svelte-app:5173"

  middlewares:
    user-service-strip:
      stripPrefix:
        prefixes:
          - "/user-service"
