@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;

  --shadow-glow: 0px 10px 20px 0px rgba(255, 255, 255, 0.25);
  --shadow-glow-strong: 0px 5px 15px 0px rgba(255, 255, 255, 0.50);
}

@layer base {
  body {
    @apply text-white;
    background-color: #121212;
  }
}

/* @layer components {
  .glass-effect {
    @apply border backdrop-blur-xl rounded-3xl;
    background-color: rgba(26, 26, 26, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
  }
} */

@layer components {
  .glass {
    @apply border border-white/10 bg-neutral-900/60 backdrop-blur-xl;
  }
}

@layer components {
  .shadow-button {
    @apply transition-all duration-150 shadow-glow hover:shadow-glow-strong hover:-translate-y-1 active:translate-y-0 active:shadow-glow;
  }
}